<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Video School CMS
            </span>
          <a class="d-flex btn btn-outline-light" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if sessionvar['user_type'] == 0 %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_channels')}}">Channels</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                {%endif%}
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Channel Statistics</h1>
        {% if stats!=False and stats != None  %}
            <p>Total No. of Subscribers: {{stats['section_a']['subscribers']}}</p>
            <p>Total No. of View: {{stats['section_a']['views']}}</p>
            <p>Total No. of Videos: {{stats['section_a']['totalvideos']}}</p>
            <p>Total Watch time (in Hours): {{stats['section_b']}}
            <table class="table table-striped">
                <p>Top 10 Videos (All-Time):-</p>
                <thead class="table-dark caption-top">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in stats['section_c'] %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{video['name']}}</td>
                            <td>{{video['views']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped">
                <p>Views and Watch time (past 12 months):-</p>
                <thead class="table-dark caption-top">
                    <tr>
                        <th scope="col">Metric</th>
                        {% for I in stats['section_d'] %}
                            <th scope="col">{{ I['date'] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Views</td>
                        {% for I in stats['section_d'] %}
                            <td >{{ I['views'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Watchtime</td>
                        {% for I in stats['section_d'] %}
                            <td>{{ I['watchtime'] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            
        {% else %}
            <p>Please link the channel to access the Channel statistics</p>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>